
#URLbar {
  display: flex;
}

.themeLight #URLbar {
  filter: invert(1);
  background: #3e3e3e;
}

#URL {
  flex-grow: 8;
  margin-left: 6px;
}

.themeDark #URL {
  color: #222;
}

#sourceLink {
  flex-grow: 1;
  margin-left: 6px;
  filter: invert(1);
}

a.external {
  color: blue;
  background-position: center right;
  background-repeat: no-repeat;
  background-image: url(images/ext_link.png);
  padding-right: 14px;
}

.themeDark a.external {
  color: rgb(113, 184, 239);
  background-image: url(images/ext_link_dark.png);
}

.largeLoadingIcon {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url('images/Spinner-1s-200px-dk.gif') center no-repeat;
}

.themeDark .largeLoadingIcon {
  filter: invert(1);
}

.themeDark #manualOpenInstructions {
  filter: invert(1);
}

#manualOpenInstructions {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#manualOpenInstructions > div {
  padding: 40px;
  line-height: 1.6em;
  font-size: x-large;
  color: #ddd;
}

#manualOpenInstructions > div > p {
  margin-bottom: 40px;
}

#manualOpenInstructions > div > p.footnote {
  font-size: medium;
}

#manualOpenInstructions .button {
  display: inline-block;
  padding: 5px;
  margin: 0px 2px;
  border: 1px solid;
  border-radius: 5px;
  vertical-align: sub;
  cursor: pointer;
}

#manualOpenInstructions .button:hover {
  background: #333;
}
